.identiconA {
  border-radius: 50%;
  vertical-align: middle;
}

.IntroA{
  position: absolute;
  width: 173.24px;
  height: 31px;
  left: 633px;
  top: 146px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 19.2138px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #0A2A66;
  }
  .KhanA{
  position: absolute;
  width: 350.14px;
  height: 57px;
  left: 545px;
  top: 173px;
  background: url(tumblr_inline_pcdui455cU1r8ovh1_540.png)
  }
  
  .MottoA {
  position: absolute;
  width: 465px;
  height: 85px;
  left: 488px;
  top: 284px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #0A2A66;
  
  }

  .Step01studentA{
    position: absolute;
    width: 536px;
    height: 50px;
    left: 452px;
    top: 429px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 19.2138px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #0A2A66;
  }

.DepositmottoA{
  position: absolute;
  width: 135px;
  height: 20px;
  left: 579px;
  top: 520px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.02em;
  
  color: #0A2A66;
  
  }
.ConfirmA {
position: absolute;
/* width: 81px;
height: 12px; */
left: 792px;
top: 510px;

font-family: Roboto;
display: inline;
font-style: normal;
font-weight: 500;
font-size: 10.3019px;
line-height: 12px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;
padding: 6px 13px;

color: #1AAE9F;


/* Inside Auto Layout */

/* flex: none; */
/* order: 0; */
align-self: center;
margin: 10px 0px;
}

.Depositmotto2A{
position: absolute;
width: 191px;
height: 14px;
left: 536px;
top: 592px;

font-family: Roboto;
display: inline-block;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;
color: #0A2A66;

}

.GetitwithA {
position: absolute;
width: 57px;
height: 14px;
left: 734px;
top: 592px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
display: inline-block;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;
text-decoration-line: underline;

color: #1AAE9F;

}

.PortisA {
position: absolute;
width: 111px;
height: 34px;
left: 797px;
top: 582px;

background:
  url(Portis\ Logo.png)
}

.Line2 {
position: absolute;
width: 462px;
height: 0px;
left: 491px;
top: 666px;

border: 1px solid #888888;
position: absolute;
width: 462px;
height: 0px;
left: 491px;
top: 666px;

border: 1px solid #888888;

}

.Step02studentA {
  position: absolute;
width: 327px;
height: 46px;
left: 557px;
top: 726px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 19.2138px;
line-height: 23px;
text-align: center;
letter-spacing: 0.02em;

color: #0A2A66;
}

.Module01A {
position: absolute;
width: 135px;
height: 20px;
left: 579px;
top: 799px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #0A2A66;

}

.Button01A {

display: flex;
flex-direction: row;
padding: 6px 13px;

position: absolute;
width: 92px;
height: 24px;
left: 792px;
top: 797px;

background: #BBBBBB;
border-radius: 2.92754px;

flex: none;
order: 0;
align-self: center;
margin: 10px 0px;

}

.ButtonText01B {
/* Take the Test */
position: absolute;
width: 66px;
height: 12px;
left: 806px;
top: 803px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 10.5391px;
line-height: 12px;
text-align: center;
letter-spacing: 0.02em;

color: #5F5D5D;

/* Inside Auto Layout */

flex: none;
order: 0;
align-self: center;
margin: 10px 0px;
}

.Module02A{
position: absolute;
width: 135px;
height: 20px;
left: 579px;
top: 857px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #0A2A66;
}

.Button02A{
  display: flex;
  flex-direction: row;
  padding: 6px 13px;
  
  position: absolute;
  width: 92px;
  height: 24px;
  left: 792px;
  top: 857px;
  
  background: #BBBBBB;
  border-radius: 2.92754px;

flex: none;
order: 0;
align-self: center;
margin: 10px 0px;

}

.ButtonText02B {
  /* Take the Test */
  position: absolute;
  width: 66px;
  height: 12px;
  left: 806px;
  top: 863px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10.5391px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #5F5D5D;
  
}

.Module03A {
position: absolute;
width: 135px;
height: 20px;
left: 579px;
top: 916px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #0A2A66;
}

.Button03A {

  
  /* Inside Auto Layout */
  
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  padding: 6px 13px;
  
  position: absolute;
  width: 92px;
  height: 24px;
  left: 792px;
  top: 916px;
  
  background: #BBBBBB;
  border-radius: 2.92754px;
  
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;

}

.ButtonText03B {
  position: absolute;
  width: 66px;
  height: 12px;
  left: 806px;
  top:  922px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10.5391px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #5F5D5D;
}

.Line3A {
position: absolute;
width: 462px;
height: 0px;
left: 491px;
top: 999px;

border: 1px solid #888888;
}

.ArtHistoryA {

position: absolute;
width: 204px;
height: 29px;
left: 618px;
top: 1042px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #0A2A66;
}

.DaysLeftA {
position: absolute;
width: 177px;
height: 14px;
left: 632px;
top: 1109px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;

color: #0A2A66;

}

.DaysHoursA {
  position: absolute;
width: 229px;
height: 21px;
left: 606px;
top: 1128px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.02em;

color: #0A2A66;

}

.DepositedPoolA {
  position: absolute;
width: 177px;
height: 14px;
left: 632px;
top: 1179px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;

color: #0A2A66;
}

.Amount01A {
  position: absolute;
width: 204px;
height: 29px;
left: 618px;
top: 1198px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #0A2A66;

}

.AccruedA {
  position: absolute;
  width: 177px;
  height: 14px;
  left: 632px;
  top: 1267px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #0A2A66;
  
}

.Amount02A {
  position: absolute;
width: 204px;
height: 29px;
left: 638px;
top: 1290px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #0A2A66;
}

.FundsDepositedA {
  position: absolute;
width: 177px;
height: 14px;
left: 632px;
top: 1359px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;

color: #0A2A66;
}

.Amount03A {
position: absolute;
width: 204px;
height: 29px;
left: 678px;
top: 1382px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #0A2A66;
}