.Login-button {
  color: white;
  display: block;
  font-size: 16px;
  height: 60px;
  margin: 10px auto;
  width: 300px;
}

.Login-button:hover {
  opacity: 0.9;
}

.Login-email {
  background-color: darkgray;
}

.Login-fb {
  background-color: rgb(72, 98, 163);
}

.Login-mm {
  background-color: rgb(255, 125, 0);
}
