.identicon {
  border-radius: 50%;
  vertical-align: middle;
}

.Intro{
  position: absolute;
  width: 173.24px;
  height: 31px;
  left: 633px;
  top: 146px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 19.2138px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #0A2A66;
  }
  .Khan{
  position: absolute;
  width: 350.14px;
  height: 57px;
  left: 545px;
  top: 173px;
  background: url(tumblr_inline_pcdui455cU1r8ovh1_540.png)
  }
  
  .Motto {
  position: absolute;
  width: 465px;
  height: 85px;
  left: 488px;
  top: 284px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #0A2A66;
  
  }

  .Step01student{
    position: absolute;
    width: 536px;
    height: 50px;
    left: 452px;
    top: 429px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 19.2138px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #0A2A66;
  }

.Depositmotto{
  position: absolute;
  width: 135px;
  height: 20px;
  left: 579px;
  top: 510px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.02em;
  
  color: #0A2A66;
  
  }
.Confirm {
  
  position: static;
  width: 51px;
  height: 12px;
  left: 13px;
  top: 6px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10.5366px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #FFFFFF;
  
  
  /* Inside Auto Layout */
  
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;
  
border-radius: 2.92683px;
display: flex;
flex-direction: row;
padding: 6px 13px;

position: absolute;
width: 77px;
height: 24px;
left: 807px;
top: 508px;

background: #1AAE9F;
border-radius: 2.92683px;


}

.Depositmotto2{
position: absolute;
width: 191px;
height: 14px;
left: 536px;
top: 592px;

font-family: Roboto;
display: inline-block;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;

color: #0A2A66;

}

.Getitwith {
position: absolute;
width: 57px;
height: 14px;
left: 734px;
top: 592px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
display: inline-block;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;
text-decoration-line: underline;

color: #1AAE9F;

}

.Portis {
  position: absolute;
width: 111px;
height: 34px;
left: 797px;
top: 582px;

background:
  url(Portis\ Logo.png)
}

.Line2 {
position: absolute;
width: 462px;
height: 0px;
left: 491px;
top: 666px;

border: 1px solid #888888;
position: absolute;
width: 462px;
height: 0px;
left: 491px;
top: 666px;

border: 1px solid #888888;

}

.Step02student {
  position: absolute;
width: 327px;
height: 46px;
left: 557px;
top: 726px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 19.2138px;
line-height: 23px;
text-align: center;
letter-spacing: 0.02em;

color: #0A2A66;
}

.Module01{
position: absolute;
width: 135px;
height: 20px;
left: 579px;
top: 799px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #0A2A66;

}

.Button01 {
  position: absolute;
  width: 66px;
  height: 12px;
  left: 750px;
  top: 799px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10.5391px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.02em;
  display: flex;
  color: #FFFFFF;
  
  /* Inside Auto Layout */
  
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;

  display: flex;
flex-direction: row;
padding: 6px 13px;

position: absolute;
width: 62px;
height: 24px;
left: 820px;
top: 797px;

background: #1AAE9F;
border-radius: 2.92683px;
}

.Module02{
  position: absolute;
width: 135px;
height: 20px;
left: 579px;
top: 857px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #0A2A66;
}

.Button02 {
position: absolute;
width: 66px;
height: 12px;
left: 750px;
top: 857px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 10.5391px;
line-height: 12px;
text-align: center;
letter-spacing: 0.02em;
display: flex;

color: #FFFFFF;

display: flex;
flex-direction: row;
padding: 6px 13px;

position: absolute;
width: 62px;
height: 24px;
left: 820px;
top: 856px;

background: #1AAE9F;
border-radius: 2.92683px;


/* Inside Auto Layout */

flex: none;
order: 0;
align-self: center;
margin: 10px 0px;
}

.Module03{
position: absolute;
width: 135px;
height: 20px;
left: 579px;
top: 916px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #0A2A66;
}

.Button03 {
  position: absolute;
  width: 66px;
  height: 12px;
  left: 750px;
  top: 916px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10.5391px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.02em;
  display: flex;
  color: #FFFFFF;

  
  /* Inside Auto Layout */
  
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;

  display: flex;
flex-direction: row;
padding: 6px 13px;

position: absolute;
width: 62px;
height: 24px;
left: 820px;
top: 915px;

background: #1AAE9F;
border-radius: 2.92683px;
}

.Line3 {
position: absolute;
width: 462px;
height: 0px;
left: 491px;
top: 999px;

border: 1px solid #888888;
}

.ArtHistory{

position: absolute;
width: 204px;
height: 29px;
left: 618px;
top: 1042px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #0A2A66;
}

.DaysLeft{
position: absolute;
width: 177px;
height: 14px;
left: 632px;
top: 1109px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;

color: #0A2A66;

}

.DaysHours {
  position: absolute;
width: 229px;
height: 21px;
left: 606px;
top: 1128px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.02em;

color: #0A2A66;

}

.DepositedPool {
  position: absolute;
width: 177px;
height: 14px;
left: 632px;
top: 1179px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;

color: #0A2A66;
}

.Amount01 {
  position: absolute;
width: 204px;
height: 29px;
left: 618px;
top: 1198px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #0A2A66;

}

.Accrued {
  position: absolute;
  width: 177px;
  height: 14px;
  left: 632px;
  top: 1267px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #0A2A66;
  
}

.Amount02 {
  position: absolute;
width: 204px;
height: 29px;
left: 638px;
top: 1290px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #0A2A66;
}

.FundsDeposited {
  position: absolute;
width: 177px;
height: 14px;
left: 632px;
top: 1359px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;

color: #0A2A66;
}

.Amount03 {
  position: absolute;
width: 204px;
height: 29px;
left: 678px;
top: 1382px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #0A2A66;
}